body{
    background: black;
}
h1, #info {
    text-align: center;
    color: white;
    font-family: Muli;
}
h3{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    font-size: 16px;
    font-family: Muli;
}
input[type="submit"]{
    background-color: white;
    font-family: Muli;
    border: 2px solid #ccc;

}
input:focus {
    outline: none;
}
<!--                                        -->
#searchButton, #searchQuery input{
    display: inline;
}
input[id="searchQuery"] {
    padding: 12px 20px 12px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 115px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
}
input[id="searchQuery"]:focus {
    width: 20%;
    outline: none;
}
#searchButton{
    background-color: white;
    position: ;
    border: 2px solid #ccc;
}
#clearSearch{
    background-color: white;
    border-radius: 25px;
    border: 2px solid #ccc;
    outline: none;
}
.parent{
    display: inline;
}
.well{
    background-color: #ffffff;
}
.infoTitle{
    text-align: center;
    color: white;
    font-family: Muli;
    font-size: 30px;
}
.infoBody{
    text-align: center;
    color: white;
    font-family: Muli;
    font-size: 16px;
}
.linky{
    color: white;
}
